*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar{
  font-size: 18px;
  background-color: white;
  padding-bottom: 10px;
  text-align: center;
  width: 100vw;
}

.hb-button{
  display: none;
}

.hb-button:hover{
  background-color: orange;
}

.logo{
  position: absolute;
  left: 0;
  cursor: pointer;
  padding: 0px 0px;
  margin: -7px 20px;
}

.shop-button{
  position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    font-size: 25px;
    padding: 5px 8px;
    border-style: none;
}

.logoRestrinct{
  display: none;
}

.login-button{
    position: absolute;
    top: 5px;
    right: 150px;
    margin: 15px auto;
    cursor: pointer;
    font-size: 25px;
    padding: 5px 8px;
    border-style: none;
}

.login-button:hover{
  background-color: orange;
}

.shop-button:hover{
  background-color: orange;
}

.nav-container{
  text-align: center;
  list-style-type: none;
  display: inline-block;
}

.nav-container a li{
  margin: 15px auto;
  display: inline-block;
  transition: all 0.5s ease;
  width: 183px;
  margin: 20px -24px;
}

.nav-container a li img{
  text-align: center;
}

.nav-poke{
  transition: all 0.5s ease;
  background-color: white;
}

.nav-poke:hover{
  background-color: orange;
}

.nav-poke{
  border-bottom: 5px solid orange;
}

.nav-item:hover{
  background-color: palegreen;
}

.nav-item{
  border-bottom: 5px solid palegreen;
}

.nav-home:hover{
  background-color: red;
}

.nav-home{
  border-bottom: 5px solid red;
}

@media screen and (max-width:1000px){
  .nav-container a li{
    display: none;
  }

  .navbar{
    background-color: white;
  }

  .logo{
    display: none;
  }

  .logoRestrinct{
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
  }

  .shop-button{
    position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      font-size: 25px;
      padding: 5px 8px;
      border-style: none;
      display: inline-block;
  }

  .login-button{
    position: absolute;
      top: -15px;
      right: 65px;
      cursor: pointer;
      font-size: 25px;
      padding: 5px 8px;
      border-style: none;
      display: inline-block;
  }

  .hb-button{
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    font-size: 25px;
    padding: 5px 8px;
    border-style: none;
    display: inline-block;
  }
}

a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  padding: 5px 20px;
}

.pokemon, .pokemonBreak{
    display: inline-block;
    margin-left: 0px;
    padding-left: 0px;
}

.pokeTable{
    height: auto;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 0 18%;

}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}