body{
  margin: 0;
}

.pokemon, .pokemonBreak{
    display: inline-block;
    margin-left: 0px;
    padding-left: 0px;
}

.pokemon, .item{
    display: inline-block;
    margin-left: 0px;
    padding-left: 0px;
    margin: auto 5px;
}

.pokemon > figure > img{
   width: 180%;  /* some zoom on them */ 
}

.item >  a > img {
  width: 80%;  /* some zoom on them */
}

.table{
   width: 50%;
   height: 600px;
   position: absolute;
   margin: 17% auto;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
}

.selPoke {
   margin-top: 50px;
}

.item-motto {
  /* padding: 0 25%; */
  font-size: x-large;
}

.item-motto p {
    animation: move 25s infinite;
}


@keyframes move {
  from { margin-left: -30%; }
  to { margin-left: 73%; }
}

* {box-sizing:border-box}

/* start of region nav */

.region-nav {
  text-align: center;
}

.region-nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: palegreen;
  display: inline-block; /* remove padding on borders */
  border-radius: 20px;
}

.region-nav > ul > li {
  display: inline;
}


.region-nav li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
}

.region-nav li a:hover {
  background-color: green;
  color: whitesmoke;
}

/* end of region nav */

/* start of item nav */

.item-nav {
  text-align: center;
}

.item-nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
  display: inline-block; /* remove padding on borders */
  border-radius: 20px;
}

.item-nav > ul > li {
  display: inline;
}


.item-nav li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
}

.item-nav li a:hover {
  background-color: yellow;
}

/* end of item nav */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}


/* autocomplete bar */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  
.region-nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: palegreen;
  display: inline-block; /* remove padding on borders */
}

.region-nav > ul > li {
  display: inline-block;
}

.table{
  display: inline-block ;
  margin: 510px auto 0 auto;
}

.autocomplete, input {
  display: flex;
  margin: 0 auto;
}

.slideshow-container {
  display: none;
}
}